@model FuelPredictor.Models.V2.Station

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #Stations {
        text-decoration: underline;
    }
</style>

<h1>Edit</h1>

<h4>Station</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="btn btn-warning">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDVille" class="control-label"></label>
                <select asp-for="IDVille" class="form-control" asp-items="ViewBag.IDVille"></select>
                <span asp-validation-for="IDVille" class="text-danger"></span>
            </div>
 @*            <div class="form-group">
                <label asp-for="IDGerant" class="control-label"></label>
                <select asp-for="IDGerant" class="form-control" asp-items="ViewBag.IDGerant"></select>
                <span asp-validation-for="IDGerant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDCompany" class="control-label"></label>
                <select asp-for="IDCompany" class="form-control" asp-items="ViewBag.IDCompany"></select>
                <span asp-validation-for="IDCompany" class="text-danger"></span>
            </div> *@
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

