@model List<FuelPredictor.Models.Dto.StationDto>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


<h4 style="text-align:center;">Liste des prix des stations au @DateTime.Now.Date.ToString("dd/MM/yyyy")</h4>
<style>
 


    #Home {
        text-decoration: underline;
    }
</style>



<div class="container" style="margin-top:25px; background-image: url('~/images/back.jpg'); background-size: cover;">
    <!-- Left column for the map -->
    <div class="row">
     
            <div class="col-5" id="map" style="height: 400px;"></div>
      
    
        <div class="col-7" id="DetailStation" style="display:none;">
            <!-- Chart canvas for line chart -->
            <canvas id="myChartLine"></canvas>
         </div>

     
     </div>


     

    <div class="row" style="background:azure;">
        <div class="col-12">
            
    
            <div class="right">
                <div class="table-responsive">
                    <table id="stationsTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">Station</th>
                                <th scope="col">Société</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Gasoil Price</th>
                                <th scope="col">Diesel Price</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
              
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

   
</div>
<!-- Add this modal to your HTML -->
<div class="modal fade" id="predictModal" tabindex="-1" role="dialog" aria-labelledby="predictModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="predictModalLabel">Prédiction du prix</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="predictForm">
                    <div class="form-group">
                        <label for="predictDate" class="col-form-label">Date:</label>
                        <input type="date" class="form-control" id="predictDate">
                        <label for="carburantId" class="col-form-label">Carburant</label>
                    <select class="form-control" id="carburantId">
                        <option value="1">Gasoil</option>
                        <option value="2">Essence</option>

                        </select>

                  
                    <input type="hidden" id="stationId">
                    </div>
                </form>
                <div id="predictionResult"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="predictSubmit">Prédire</button>
            </div>
        </div>
    </div>
</div>



@section scripts {


    <script>
        var myChart = null;
        $(document).ready(function () {
            $(document).on('click', '.variation-prix-btn', function () {
                var stationId = $(this).data('id');

                $.ajax({
                    url: 'PrixJournaliers/PrixJournaliersByStation',
                    type: 'GET',
                    data: { stationId: stationId },
                    success: function (data) {
                        drawChart(data);
                        $('#DetailStation').show();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

        function drawChart(data) {
            var labels = [];
            var gasoilPrices = [];
            var essencePrices = [];

            data.forEach(function (group) {
                group.prixData.forEach(function (item) {
                    if (!labels.includes(item.date)) {
                        labels.push(item.date);
                    }
                    if (group.idCarburant === 2) { // Assuming 1 represents Gasoil
                        gasoilPrices.push(item.prix);
                    } else if (group.idCarburant === 3) { // Assuming 2 represents Essence
                        essencePrices.push(item.prix);
                    }
                });
            });

            var ctx = document.getElementById('myChartLine').getContext('2d');

            // Destroy the old chart if it exists
            if (myChart !== null) {
                myChart.destroy();
            }

            // Create a new chart
            myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Prix Gasoil',
                        data: gasoilPrices,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }, {
                        label: 'Prix Essence',
                        data: essencePrices,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Prix'
                            }
                        }
                    }
                }
            });
        }

        //-----------------------------------------

        var map = L.map('map').setView([33.5731, -7.5898], 13); // set initial position and zoom level for Casablanca

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Extract markers from ViewBag
        var jsModel = @Html.Raw(Json.Serialize(Model));
        console.log(jsModel)

        // Add markers for each station

        for (var i = 0; i < jsModel.length; i++) {
            var item = jsModel[i];

            var popupContent = '<div class="popup-content"><h3>' + item.nom + '</h3><br>' +
                '<b>Adresse:</b>' + item.adresse + '<br>' +
                '<b>Ville:</b>' + item.ville + '<br>' +
                '<b>Société:</b>' + item.company + '<br>' +
                '<b>Prix Gasoil aujourd\'hui:</b>' + item.prixGasoilAujourdhui + '<br>' +
                '<b>Prix Essence aujourd\'hui:</b>' + item.prixEssenceAujourdhui + '<br>' +
                '<button id="btnPredictPrix' + i + '" class="btn btn-outline-success predict-prix-btn" data-id="' + item.id + '" data-carburant-id="1">' +
                '<i class="fas fa-chart-line"></i> Prédire le prix' +
                '</button><br>' +
                '<a href="/PrixJournaliers/IndexStation/' + item.id + '" class="btn btn-outline-success"><i class="fas fa-list"></i> Liste des prix</a></div>' +
                '<a ' + item.id + '" class="btn btn-outline-success variation-prix-btn" data-id="' + item.id + '" "><i class="fas fa-chart-bar"></i> Variations des prix</a></div>';

            L.marker([item.latitude, item.longitude]).addTo(map)
                .bindPopup(popupContent)
                .openPopup();
        }

        $(document).ready(function () {

            $('.predict-prix-btn').on('click', function () {
                var stationId = $(this).data('id');
                var carburantId = $(this).data('carburant-id'); // Ajustez cela selon le carburant
                $('#stationId').val(stationId);
                $('#carburantId').val(carburantId);
                $('#predictModal').modal('show');
            });

            $('#predictSubmit').on('click', function () {
                var stationId = $('#stationId').val();
                var carburantId = $('#carburantId').val();
                var date = $('#predictDate').val();

                $.ajax({
                    url: '/PrixJournaliers/PredictPrix',
                    type: 'GET',
                    data: {
                        stationId: stationId,
                        carburantId: carburantId,
                        date: date
                    },
                    success: function (result) {
                        $('#predictionResult').html('Prix prédit: ' + result.predictedPrix);
                    },
                    error: function (xhr, status, error) {
                        $('#predictionResult').html('Erreur: ' + xhr.responseJSON.error);
                    }
                });
            });
        });





    $(document).ready(function () {
            $('#stationsTable').DataTable({
                "serverSide": true,
                "ajax": {
                    "url": "/Stations/GetStations",
                    "type": "POST",
                    "datatype": "json"
                },
      
                "columns": [
                    { "data": "nom", "name": "Nom", "autowidth": true },
                    { "data": "company", "name": "Company", "autowidth": true },
                    { "data": "ville", "name": "Ville", "autowidth": true },
                    { "data": "adresse", "name": "Adresse", "autowidth": true },
                    {
                        "data": "prixGasoilAujourdhui",
                        "name": "prixGasoilAujourdhui",
                        "autowidth": true,
                        "type": "num", // Définit le type de données comme numérique pour permettre le tri numérique
                        "render": $.fn.dataTable.render.number(',', '.', 2) // Formate les prix avec 2 décimales
                    },
                    {
                        "data": "prixEssenceAujourdhui",
                        "name": "prixEssenceAujourdhui",
                        "autowidth": true,
                        "type": "num", // Définit le type de données comme numérique pour permettre le tri numérique
                        "render": $.fn.dataTable.render.number(',', '.', 2) // Formate les prix avec 2 décimales
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            //afficher l'image dans button


                            return `<button class="btn btn-outline-primary" onclick="showStationOnMap(${row.latitude}, ${row.longitude})"><i class="fas fa-map-marker-alt"></i></button>`;
                        }
                    },
                    // Ajoutez d'autres colonnes si nécessaire
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return `<a class="btn btn-outline-secondary" href="/PrixJournaliers/IndexStation/${row.id}"><i class="fas fa-history"></i></a>`;

                        }
                    }
                ],
                "initComplete": function (settings, json) {
                    console.log(json); // Log the received data
                }
            });
        });


        
    

  
        //-----------------------------------------------------------

        function searchTable() {
            // Déclaration des variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Boucle à travers toutes les lignes et cache celles qui ne correspondent pas à la recherche
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // Changez l'index si vous voulez filtrer une colonne différente
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function showStationOnMap(latitude, longitude) {
            map.setView([latitude, longitude], 20);
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // pour un défilement fluide, utilisez 'smooth'
            });
        }



        //-----------------------------------------------------------------



</script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js" asp-append-version="true"></script>

    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/js/BateauxDataTable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" asp-append-version="true"></script>


}





















