@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    #Home {
        text-decoration: underline;
    }
</style>


<p>Use this page to detail your site's privacy policy.</p>
