html {
  font-size: 14px;
}


.btn-success {
    display: ruby-text;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 1 0 auto !important;
    }
}

/* Styles pour le bouton de suppression */
        #btn-delete {
    background-color: #dc3545; /* Couleur de fond rouge */
    color: #fff; /* Texte blanc */
}

/* Styles pour le bouton de création */
#btn-create {
    background-color: #28a745; /* Couleur de fond verte */
    color: #fff; /* Texte blanc */
}

/* Styles pour le bouton de détails */
#btn-details {
    background-color: #17a2b8; /* Couleur de fond bleue */
    color: #fff; /* Texte blanc */
}

/* Styles pour le bouton d'édition */
#btn-edit {
    background-color: #ffc107; /* Couleur de fond jaune */
    color: #212529; /* Texte noir */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.nav-pills .nav-link {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 0;
}

    .nav-pills .nav-link.active {
        background-color: cadetblue;
        color: #000000;
    }

    .nav-pills .nav-link:hover {
        background-color: #e9ecef;
    }
@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}